$primary: #191b0e;
$secondary: #79c07e;
$success: #a9d387;
$info:#d3d8ce;
$danger:#766153;
$body-bg: #b1c788;
$body-color: #111;
$accordion-color:$primary;

@import "../node_modules/bootstrap/scss/bootstrap";